/* Variables */
@import url("https://use.typekit.net/qtx4tzb.css");
:root {
  --font_primary: new-hero, sans-serif;
}

/* Global */
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body,
#app {
  margin: 0;
  padding: 0;
  font-family: var(--font_primary);
}

/*** Affiche list Block ***/
.affiche {
  display: grid;
  grid-template-columns: min(90vw, 1320px);
  justify-content: center;
  background-color: #f3f3f3;
  padding-top: clamp(42px, 2.625rem + (1vw - 3.75px) * 5.446, 100px);
  padding-bottom: clamp(59px, 3.6875rem + (1vw - 3.75px) * 5.7277, 120px);
  /* affiche header */
  /* affiche-list */
  /* affiche-item */
}
.affiche .affiche-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(42px, 2.625rem + (1vw - 3.75px) * 5.446, 100px);
}
.affiche .affiche-header h3 {
  font-weight: 700;
  font-size: 36px;
}
.affiche .affiche-header .affiche-header-buttons {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.affiche .affiche-list {
  display: flex;
  column-gap: clamp(20px, 1.25rem + (1vw - 3.75px) * 1.8779, 40px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.affiche .affiche-item {
  position: relative;
  background: #ffffff;
  color: #fff;
  padding: 20px;
  max-width: 300px;
  flex-shrink: 0;
}
.affiche .affiche-item .affiche-title,
.affiche .affiche-item .affiche-date {
  position: absolute;
}
.affiche .affiche-item .affiche-title {
  max-width: 227px;
  left: 30px;
  top: 30px;
}
.affiche .affiche-item .affiche-title h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
}
.affiche .affiche-item .affiche-title .affiche-category {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.affiche .affiche-item .affiche-title .affiche-resume {
  max-width: 146px;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
.affiche .affiche-item .affiche-date {
  display: flex;
  align-items: center;
  right: 15px;
  bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.affiche .affiche-item .affiche-date h4 {
  font-size: 60px;
  line-height: 56px;
}
.affiche .affiche-item .affiche-date h5 {
  transform: rotate(90deg) translate(-5px, 50%);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
}

@media (min-width: 1440px) {
  .affiche {
    /* affiche-items */
  }
  .affiche .affiche-list {
    overflow-x: initial;
  }
}
/* gallery list block */
.gallery-list {
  display: flex;
  column-gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.gallery-list .gallery-item {
  flex-shrink: 0;
  flex-basis: 360px;
}
.gallery-list .gallery-item .gallery-image {
  position: relative;
}
.gallery-list .gallery-item .gallery-image .gallery-image-icon {
  color: #ffffff;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}
.gallery-list .gallery-item .gallery-item-content {
  margin-top: 11px;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
}

@media (min-width: 1200px) {
  .gallery-list {
    overflow-x: initial;
  }
  .gallery-list .gallery-item {
    flex-basis: content;
    flex-shrink: 1;
  }
}
/* Histoire-block */
.histoire-block {
  display: flex;
  column-gap: 59px;
  margin-bottom: 66px;
}
.histoire-block .h-block-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 66px;
  color: #071f5b;
  position: relative;
}
.histoire-block .h-block-header::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  width: 28px;
  height: 28px;
  background-color: #071f5b;
  transform: translate(-50%, 0);
  border-radius: 50%;
}
.histoire-block .h-block-header h3 {
  font-weight: 600;
  font-size: 70px;
  writing-mode: sideways-lr;
  position: relative;
  padding-top: 72px;
  max-width: 55px;
}
.histoire-block .h-block-main .h-block-title {
  color: #071f5b;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 44px;
}
.histoire-block .h-block-main .h-block-content {
  display: flex;
  column-gap: 65px;
  margin-bottom: 82px;
}
.histoire-block .h-block-main .h-block-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 567px;
}

/* Pages Histoire */
#main.histoire {
  display: grid;
  grid-template-columns: min(90vw, 1320px);
  justify-content: center;
  padding-block: 100px;
}

/* Pages */

/*# sourceMappingURL=style.css.map */
